.nav-enlacee{
    display: inline-block;
    background: rgb(255, 166, 0);
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: red;
}
nav{
    background:rgb(0, 240, 20);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background: rgb(255, 0, 0);
    color: #fff;
    padding: 10px 0;
}

@Media (max-width: 600px){
  nav{
    background: rgb(0, 0, 0);
    flex-direction: colum;
  }  
  .nav-enlace{
    margin: 10px 0;
  }
}